openapi: 3.1.0
info:
  title: GPT MASTER DB Plugin
  description: Plugin for managing Google Sheets database via your custom server
  version: 1.0.0
servers:
  - url: https://oz-clinic.co.il/gpt-plugin/

paths:
  /:
    post:
      operationId: manageDatabase
      summary: Execute database operation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - table
              properties:
                action:
                  type: string
                  enum:
                    - insert_row
                    - update_row
                    - delete_row
                    - query
                table:
                  type: string
                  description: Table name (e.g., DB MASTER)
                row_data:
                  type: object
                  description: Row data (keys as "1", "2", etc.)
                filter:
                  type: object
                  description: Filter for update/delete/query
                column_name:
                  type: string
                  description: For future use (adding columns)

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
